@charset "utf-8";
@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif; 
}

img { 
	width: 100%;
    display: block;
}

body {
    margin: 0;
    padding: 0; 
}

.masthead {
    background-color: pink;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.logo {
    height: 4.5rem;
    width: auto; 
    margin: .25rem auto .25rem;
    overflow:hidden;
}
article {
    margin:0 0 1.5rem;
    padding: 0 5% 0; 
    overflow: hidden; 
}

h1 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    margin:1.5rem auto 1.5rem;
    padding: .5rem 2%;
    font-size: 3.25rem; 
    letter-spacing:-.1rem;
    text-align:center;
    line-height:3rem;
    color:pink;
    text-shadow: 4px 4px black;
    background-color: rgba(25, 5, 5, .6);
} 

.billboard {
    overflow: hidden;
    background-image:url(../images/shoes.jpg);
    background-color:white;
    background-repeat:repeat;
    background-position:center center;
    background-size:30rem;
    border-radius:.3rem;
    margin: 0; 
}

.paraone {
    font-size:1.25rem;
    margin: 1rem 2% 1rem;
    line-height:2rem;
    font-weight:bold; 
}

hr {
    border: solid 4px pink
}

p {
    line-height:1.5rem;
    margin:1rem 1% 1rem; 
}

 .dropcap:first-letter{
    font-weight:bold;
    float: left;
    font-size   : 4em;
    line-height : 1.5rem;
    margin: .8rem .2rem 0 0;
    color: pink;
}

figure {
    margin: 0 auto 1.5rem; 
    width: 100%; 
} 

figcaption {
    margin: .5rem 0 0;
    font-size:.75rem;
}

blockquote {
    margin: 0;
    padding: 0 0 0 15%;
    overflow:hidden;
}

blockquote p {
    font-size:1.75rem;
    line-height:2rem;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

blockquote span {
    font-weight:bold;
    color:pink;
    float: right;
    margin: 1.5rem 0;
}

blockquote p:before {
    content: "“";
    font-size:3rem;
    color:pink;
    float: left;
    margin: 1rem 0 0 -2rem;
} 

blockquote p:after {
    content: "”";
    font-size: 1.5rem;
    position: absolute;
    color:pink;
    margin: .2rem 0;
}

h2 {
    font-size:2.25rem;
    margin: 1.2rem 1% 0;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

h3 {
    margin:.1rem 2% .25rem;
    font-size:1.25rem
}

h3 + p {
    margin: 0 2% 0;
}

small {
    font-size:.75rem;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    text-transform:uppercase; 
}

summary { /* triangle next to details */
    margin: .25rem 0 .25rem;
}

ul {
    margin: 0;
}

li { /* title of each detail */ 
    list-style-type:none;
    text-transform:uppercase;
    font-weight:bold;
    letter-spacing:-.01rem;
    margin:1rem 0 .25rem;
    color: pink; 
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}
    
 details { /* extended deatils inside of triangle */ 
    font-size:1rem;
    margin: 0;
    text-transform:none; 
}
	
footer {
    background-color:pink; 
    overflow: hidden; 
}

footer p {
    margin: 1rem 5% 0; 
    color: white;
    font-size: .75rem; 
} 

footer a {
    color: white; 
    margin: 0 0 3rem;
} 

.source2 {
    margin: 0 15.5% 3rem;
}